{% extends 'layout.jinja2' %} {% block content %}

<h2 class="title">Reserve Your Seat</h2>
<!-- SCRUM TEAM 6 ADDED CONTENT -->
{% if error %}
<p class="reservation-error">{{ error }}</p>
{% endif %} {% if reservation_msg %}
<p>{{ reservation_msg }}</p>
{% endif %} {% if e_ticket %}
<p>Your e-ticket number is: {{ e_ticket }}</p>
{% endif %}
<h3>Seating Chart</h3>
<p>X = Reserved seat : O = Available Seat</p>
<ul class="seating-chart">
  {% for row in form.seating_chart %}
  <li>{{ row }}</li>
  {% endfor %}
</ul>
<!-- END SCRUM TEAM 6 ADDED CONTENT -->
<form method="POST" action="/reservations">
  {{ form.csrf_token }}
  <div class="form-field">
    {{ form.first_name.label }} {{ form.first_name }} {% if
    form.first_name.errors %}
    <ul class="errors">
      {% for error in form.first_name.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="form-field">
    {{ form.last_name.label }} {{ form.last_name }} {% if form.last_name.errors
    %}
    <ul class="errors">
      {% for error in form.last_name.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="form-field">
    {{ form.row.label }} {{ form.row }} {% if form.row.errors %}
    <ul class="errors">
      {% for error in form.row.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="form-field">
    {{ form.seat.label }} {{ form.seat }} {% if form.seat.errors %}
    <ul class="errors">
      {% for error in form.seat.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  {{ form.reserve }}
</form>

{% endblock %}
